  <div class="row">
    <div class="span7 offset2">
      <%= form_tag("post_tweet") do -%>
        <%= label_tag(:tweet_text, "Tweet something!") -%>
        <%= text_area_tag(:tweet_text, "", :size => "40x6",
                                           :class => "span7") -%>
        <div class='actions pull-right'>
          <%= submit_tag 'Tweet', :class => "btn btn-primary" -%>
        </div>
      <% end %>
    </div>
  </div>

<% @tweets.each do |t| %>
  <div class="row">

    <div class="span7 offset2 tweet">
      <img src="<%= t.user.profile_image_url %>" class="profile pull-left" />
      <div class="details">
        <h4><%= t.user.name %><span>&nbsp;@<%= t.from_user %></span></h4>
        <%= auto_link(t.text).html_safe %>
      </div>
    </div>
  </div>
<% end %>

